* {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
}

body .container {
  width: 1300px;
  margin: 0 auto;
}

body .header {
  font-size: 18px;
  font-family: 'Italianno';
}

body .header__inner {
  width: 100%;
  height: 100px;
  background-color: #ffb8de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header__inner__logo {
  padding: 30px 0 30px 70px;
  width: 200px;
}

body .header__inner__logo:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 30px 0 30px 70px;
}

body .menu {
  margin-top: 30px;
}

body .menu__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .menu__catalog--item {
  color: #2f2f2f;
  font-size: 16px;
  font-family: 'Comfortaa';
  font-weight: 700;
}

body .menu__catalog--item:first-child {
  padding-left: 90px;
}

body .menu__catalog--item:last-child {
  padding-right: 90px;
}

body .menu hr {
  margin-top: 30px;
  background-color: #fbd6ea;
  height: 3px;
}

body .standarts {
  margin-top: 30px;
}

body .standarts__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .standarts__catalog--item {
  color: #90004d;
  font-size: 20px;
  font-family: 'Comfortaa';
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  background-image: url(../imgs/violet.png);
  background-size: 270px;
  height: 80px;
  width: 270px;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: .6s;
  transition: .6s;
}

body .standarts__catalog--item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

body .catalog {
  margin-top: 100px;
}

body .catalog .catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .selection__form {
  display: block;
}

body .selection__form--block {
  display: block;
}

body .selection__form--block--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .selection__form input {
  display: block;
  border: 1px solid #90004d;
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
}

body .selection__form select {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #90004d;
  height: 22px;
  width: 202px;
}

body .selection__form .select {
  background-color: #ffb8de;
  color: #90004d;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Comfortaa';
  border-radius: 10px;
  margin-top: 30px;
  height: 40px;
  width: 150px;
}

body .selection__form .select:hover {
  cursor: pointer;
}

body .products {
  margin-left: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

body .products__item {
  border: 1px solid #ff8fcb;
  border-radius: 10px;
  text-align: center;
}

body .products__item h3 {
  font-size: 20px;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #90004d;
  margin-top: 10px;
}

body .products__item--img {
  height: 300px;
  margin: 30px;
  border-radius: 10px;
}

body .products__item--buy {
  text-align: left;
  margin: 0 30px 0 30px;
  display: block;
}

body .products__item--buy label {
  font-size: 20px;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #90004d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .products__item--buy label:hover {
  cursor: pointer;
}

body .products__item--buy p {
  font-size: 30px;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: #90004d;
  text-align: center;
  margin-top: 20px;
}

body .products__item--buy--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .products__item--buy--submit {
  margin-top: 20px;
  background-color: #ff8fcb;
  border: 1px solid #90004d;
  border-radius: 10px;
  color: #90004d;
  font-size: 20px;
  font-family: 'Comfortaa';
  font-weight: 700;
  padding: 10px;
  margin-bottom: 20px;
}

body .products__item--buy--submit:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: .6s;
  transition: .6s;
}

@media screen and (max-width: 1470px) {
  body .container {
    width: 1200px;
    margin: 0 auto;
  }
  body .header__inner {
    width: 100%;
  }
  body .menu {
    margin-top: 30px;
  }
  body .menu__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .menu__catalog--item {
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'Comfortaa';
    font-weight: 700;
  }
  body .standarts {
    margin-top: 30px;
  }
  body .standarts__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .standarts__catalog--item {
    color: #90004d;
    font-size: 18px;
    font-family: 'Comfortaa';
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    background-image: url(../imgs/violet.png);
    background-size: 210px;
    height: 70px;
    width: 210px;
    background-repeat: no-repeat;
    border-radius: 10px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  body .standarts__catalog--item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
    -webkit-transition: .6s;
    transition: .6s;
  }
}

@media screen and (max-width: 1280px) {
  body .container {
    width: 1100px;
    margin: 0 auto;
  }
  body .header__inner {
    width: 100%;
  }
}
