* {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    .container {
        width: 1300px;
        margin: 0 auto;
    }

    .header {
        font-size: 18px;
        font-family: 'Italianno';

        &__inner {
            width: 100%;
            height: 100px;
            background-color: #ffb8de;
            display: flex;
            justify-content: space-between;

            &__logo {
                padding: 30px 0 30px 70px;
                width: 200px;
                // transform: rotate(270deg);

                &:last-child {
                    transform: rotate(180deg);
                    padding: 30px 0 30px 70px;
                }
            }
        }
    }

    .menu {
        margin-top: 30px;
        
        &__catalog {
            display: flex;
            justify-content: space-between;

            &--item {
                color: #2f2f2f;
                font-size: 16px;
                font-family: 'Comfortaa';
                font-weight: 700;

                &:first-child {
                    padding-left: 90px;
                }

                &:last-child {
                    padding-right: 90px;
                }
            }
        }

        hr {
            margin-top: 30px;
            background-color: #fbd6ea;
            // width: 140px;
            height: 3px;
        }
    }

    .standarts {
        margin-top: 30px;

        &__catalog {
            display: flex;
            justify-content: space-between;

            &--item {
                color: #90004d;
                font-size: 20px;
                font-family: 'Comfortaa';
                font-weight: 700;
                text-align: center;
                
                padding-top: 15px;

                background-image: url(../imgs/violet.png);
                background-size: 270px;
                height: 80px;
                width: 270px;
                background-repeat: no-repeat;

                border-radius: 10px;
                transition: .6s;
                
                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                    transition: .6s;
                }
            }
        }
    }

    .catalog{
        margin-top: 100px;

        .catalog__inner {
            display: flex;
        }
    }

    .selection {

        &__form {
            display: block;

            &--block {
                display: block;

                &--btn {
                    display: flex;
                    justify-content: center;
                }
            }

            input {
                display: block;
                border: 1px solid #90004d;
                width: 200px;
                height: 20px;
                margin-bottom: 10px;
            }


            select {
                display: block;
                margin-bottom: 10px;
                border: 1px solid #90004d;
                height: 22px;
                width: 202px;
            }

            .select {
                background-color: #ffb8de;
                color: #90004d;
                font-size: 14px;
                font-weight: 700;
                font-family: 'Comfortaa';
                border-radius: 10px;
                margin-top: 30px;
                height: 40px;
                width: 150px;
                
                
                &:hover {
                    cursor: pointer;

                }
            }

        }   
    }
    
    .products {
        margin-left: 80px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 30px;
        row-gap: 30px;

        &__item {
           border: 1px solid #ff8fcb;
           border-radius: 10px;
           text-align: center; 

           h3 {
               font-size: 20px;
               font-family: 'Comfortaa';
               font-weight: 700;
               color: #90004d;
               margin-top: 10px;
           }
           
           &--img {
               height: 300px;
               margin: 30px;
               border-radius: 10px;

           }

           &--buy {
            text-align: left;
            margin: 0 30px 0 30px;
            display: block;
            
            label {
                font-size: 20px;
                font-family: 'Comfortaa';
                font-weight: 700;
                color: #90004d;
                user-select: none;

                &:hover {
                    cursor: pointer;
                }
            }

            p {
                font-size: 30px;
                font-family: 'Comfortaa';
                font-weight: 700;
                color: #90004d;
                text-align: center;
                margin-top: 20px;
            }

            &--btn {
                display: flex;
                justify-content: center;
            }

            &--submit {
                margin-top: 20px;
                background-color: #ff8fcb;
                border: 1px solid #90004d;
                border-radius: 10px;
                color: #90004d;
                font-size: 20px;
                font-family: 'Comfortaa';
                font-weight: 700;
                padding: 10px;
                margin-bottom: 20px;
                
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                    transition: .6s;
                }
            }

 
           }
        }
    }
}

@media screen and (max-width: 1470px) {
    body {
        .container {
            width: 1200px;
            margin: 0 auto;
        }

        .header {
            &__inner {
                width: 100%;
            }
        }

        .menu {
            margin-top: 30px;
            
            &__catalog {
                display: flex;
                justify-content: space-between;
    
                &--item {
                    color: #2f2f2f;
                    font-size: 16px;
                    font-family: 'Comfortaa';
                    font-weight: 700;
                }
            }
        }

        .standarts {
            margin-top: 30px;
    
            &__catalog {
                display: flex;
                justify-content: space-between;
    
                &--item {
                    color: #90004d;;
                    font-size: 18px;
                    font-family: 'Comfortaa';
                    font-weight: 700;
                    text-align: center;
                    
                    padding-top: 10px;
    
                    background-image: url(../imgs/violet.png);
                    background-size: 210px;
                    height: 70px;
                    width: 210px;
                    background-repeat: no-repeat;
    
                    border-radius: 10px;
                    transition: .6s;
                    
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        transition: .6s;
                    }
                }
            }
        }

        .catalog {

            &__inner {

            }
        }
    }
}

@media screen and (max-width: 1280px) {
    
    body {
        .container {
            width: 1100px;
            margin: 0 auto;
        }

        .header {
            
            &__inner {
                width: 100%;
            }
        }
    }
}